name: Deploy Docker Camera App

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    environment:
      name: production

    steps:
      # Checkout repo
      - name: Checkout code
        uses: actions/checkout@v4

      # Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build Docker image
      - name: Build Docker image
        run: |
          docker build -t pratham4563/poc-camera-app:latest .

      # Push Docker image
      - name: Push Docker image
        run: |
          docker push pratham4563/poc-camera-app:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest

    environment:
      name: production

    steps:
      - name: Deploy to Ubuntu Server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            docker pull pratham4563/poc-camera-app:latest
            docker stop poc-camera || true
            docker rm poc-camera || true
            docker run -d \
              --network=host \
              --restart=always \
              --name poc-camera \
              -e CAMERA_IP=192.168.31.190 \
              pratham4563/poc-camera-app:latest
